absl-py==0.6.1
bioc==1.1.dev3
bllipparser==2016.9.11
gensim==3.6.0
htmltag==1.7
joblib==0.12.2
json2html==1.2.1
negbio==0.9.3
nltk==3.4
pandas==0.23.4
pathlib2==2.3.3
Pillow==8.2.0
scikit-learn==0.19.1
sphinx==1.8.3
tensorboardX==1.4
torch==1.0.0
torchvision==0.2.1
tqdm==4.24.0
